<div>
<div ng-model="username">message NAME: {{username}}
  <br /> {{error}} imagine:
  <!--//https://api.github.com/users/robconery
  //"avatar_url": "https://avatars.githubusercontent.com/u/78586?v=3", !-->
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>
<table border="1">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Stele</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos| filter:searchTerm | orderBy:repoSortOrder">
      <td>{{repo.name}}</td>
      <td>{{repo.stargazers_count | number:2}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>
</div>